<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466597325221-67js31pan2i8oj729jj6q55c7up0tmk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466597325221-67js31pan2i8oj729jj6q55c7up0tmk9</string>
	<key>API_KEY</key>
	<string>AIzaSyBT_3RqBKNVOXZA1SpqXpdNYQxfGwjOfyA</string>
	<key>GCM_SENDER_ID</key>
	<string>466597325221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahogany.queue.Queuemahogany</string>
	<key>PROJECT_ID</key>
	<string>mahoganequeue</string>
	<key>STORAGE_BUCKET</key>
	<string>mahoganequeue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466597325221:ios:f7d55f30458b803008604c</string>
	<key>DATABASE_URL</key>
	<string>https://mahoganequeue.firebaseio.com</string>
</dict>
</plist>